<div class="row p-5 justify-content-center mt-3 align-items-center   ">
    <div class="col-lg-3 d-none d-lg-block   " *ngFor="let movie of popular">
        <img [src]="imgPrefix+movie.poster_path" class="img-fluid rounded-3" alt="">
    </div>
    <div class="col-lg-5 ">
        <form action="" (ngSubmit)="submitLogin(loginForm)" [formGroup]="loginForm">
            <h1 class="fx-bolder">welcome Back, </h1>
            <h5 class="mb-2">change your mood</h5>
            <div class="my-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" formControlName="email" class="form-control myColor text-light" id="email"
                    placeholder="Email ">
            </div>
            <div *ngIf="loginForm.get('email')?.errors &&
            loginForm.get('email')?.touched" class="text-danger fw-bolder">
                <p *ngIf="loginForm.get('email')?.errors?.['required']">email is required !</p>
                <p *ngIf="loginForm.get('email')?.errors?.['email']">Please write rigth email !</p>
            </div>
            <div class="my-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control myColor  text-light" id="password"
                    placeholder="Password ">
            </div>
            <div *ngIf="loginForm.get('password')?.errors &&
            loginForm.get('password')?.touched" class="text-danger fw-bolder">
                <p *ngIf="loginForm.get('password')?.errors?.['required']">password is required !</p>
                <p *ngIf="loginForm.get('password')?.errors?.['minlength']">password is min length 5 !</p>
                <p *ngIf="loginForm.get('password')?.errors?.['maxlength']">password is max length 16 !</p>
            </div>
            <div class="clearfix">
                <button [disabled]="loginForm.invalid" class="btn float-end mybtn text-ligth mt-2">Log in</button>
            </div>
        </form>
    </div>
</div>