<div class="container-fluid   myColor   ">
    <div class="row mt-5 p-5 justify-content-center align-items-center justify-content-evenly">
        <div class="col-md-2 text-sm-center ">
            <h5>Services</h5>
            <ul class="list-unstyled">
                <li class=""><a href="#">Web design</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">Hosting</a></li>
            </ul>
        </div>

        <div class="col-md-2 text-sm-center">
            <h5>About</h5>
            <ul class="list-unstyled">
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Legacy</a></li>
            </ul>
        </div >
        <div class="col-md-2 text-sm-center">
            <h5>Careers</h5>
            <ul class="list-unstyled">
                <li><a href="#">Job openings</a></li>
                <li><a href="#">Employee success</a></li>
                <li><a href="#">Benefits</a></li>
            </ul>
        </div>
        <div class="col-md-2 text-sm-center">
            <h5>Careers</h5>
            <ul class="list-unstyled">
                <li><a href="#">Job openings</a></li>
                <li><a href="#">Employee success</a></li>
                <li><a href="#">Benefits</a></li>
            </ul>
        </div>
        <div class="col-md-12 text-center  mt-5  ">
            <a><i class="icon ion-social-facebook"></i></a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-xl fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands px-3 fa-xl fa-square-instagram"></i></a>
            <a href="https://twitter.com/"><i class="fa-brands fa-xl fa-twitter"></i></a>
            <p class="copyright">Movies Name © 2022</p>
        </div>
    </div>
</div>